@model List<StudentERP.Models.city>

@Styles.Render("~/Content/css")

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] ctdeatil ={
                                  grid.Column(header:"City name",format:a=>a.cty),
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Add_City","Home"))

                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: ctdeatil)
</div>




