@model List<StudentERP.Models.country>

@Styles.Render("~/Content/css")

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] ctydeatil ={
                                  grid.Column(header:"Name",format:a=>a.Name),
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Add_Country",new{id=a.CountryId},"Home"))

                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: ctydeatil)
</div>




